body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 13px;
  font-weight: 300;
  color: #26282A;
  padding-top: 85px;
}

.group {
  margin-bottom: 7px;
}

.next-flip {
  transform: scaleX(-1);
}

.group h2 a {
  font-weight: 300;
  color: #69737d;
  margin-bottom: 0px!important;
  cursor: pointer;
  text-decoration: none;
  margin-block-end: unset;
  z-index: 10000;
}

/*
pre {
  display: inline-block;
  border-radius: 6px;
  margin: 0px!important;
  width: 100%!important;
}

pre code {
  border-radius: 6px;
  font-size: 13.6px!important;
  padding: 20px!important;
  background: #F1F1F1!important;
}
*/

pre {
  background: rgb(40, 44, 52) !important;
  border-radius: 5px!important;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace!important;
  font-size: 1em!important;
  font-weight: normal!important;
  font-size:13.6px!important;
  line-height: 1.4!important;
}

summary {
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

code {
  border-radius: 3px;
  padding: 3px!important;
  display: inline-block;
  margin: 3px;
  font-size: 13.6px;
  line-height: normal!important;
}

code span {
  line-height: normal!important;
}

/*
pre {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}
pre code,
pre .line-number {
  Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama!
  color:black;
  font: 13px/normal 'Ubuntu Mono', 'Monaco', 'Menlo', 'Consolas', 'source-code-pro', monospace!important;
  display:block;
  font-weight: 400;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
} */

p code {
  line-height: 20px;
  font-size: 15px;
  background: #F1F1F1!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

li code {
  line-height: 20px;
  font-size: 15px;
  background: #F1F1F1!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.group-header {
  font-size: 19px;
  margin-bottom: 20px;
}

.group-header .arrow {
  display: none;
}

.group-children {
  display: none;
  flex-direction: column;
  margin-left: 17px;
  margin-bottom: 10px;
}

.group-children a {
  color: #69737d;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 300;
  cursor: pointer;
}

.group-children .group-children {
  margin-bottom: 0px;
}

.group-children .group {
  margin-bottom: 0px;
}

.group-children .group-header {
  margin-top: 0px !important;
  font-size: 15px !important;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-children .group-header .arrow {
  display: inline-block;
}

.group-children .group-header h2 a {
  font-size: 13px !important;
}

.arrow {
  width: 7px;
  height: 7px;
  margin-bottom: 2px;
  margin-right: 10px;
}

.arrow-turned {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.group-open {
  display: flex;
}

.group-now .group-children a {
  color: #69737D;
}

.group-now .group-children a {
  color: #69737D;
}

.link-open .dot {
  background: #69737D;
}

.group-now h2 a {
  color: #69737D !important;
}

.link-open {
  color: #26282a !important;
  font-weight: 600 !important;
}

#container {
}

#docs {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#panel-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 270px;
  margin-left: 12.5%;
  overflow: hidden;
  overflow: scroll;
  z-index: 100000;
}

#panel-wrapper::-webkit-scrollbar {
  display: none;
}

.group-header a {
  cursor: pointer!important;
}

.group-header a:hover {
}

#panel-wrapper .group-header a {
  transition: color 0.2s ease-out;
}

#panel-wrapper .link-not-open {
  transition: color 0.2s ease-out;
}

#panel-wrapper #search {
  transition: border-color 0.2s ease-out;
}

#panel-wrapper:hover .group-header a {
  color: #69737d!important;
}

#panel-wrapper:hover .link-not-open {
  color: #69737d!important;
}

#panel-wrapper:hover #search {
  border-color: #e8e8e8!important;
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #69737d;
  border-radius: 50%;
  margin-bottom: 4px;
  margin-right: 10px;
}

#panel {
  margin-left: 20px;
  min-width: 270px;
  margin-top: 68px;
  z-index: 1000;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

#panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#panel-header a {
  color: #45DBB7;
  font-weight: 300;
  margin-right: 20px;
  text-decoration: none;
}

#search {
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  padding: 7px;
  padding-left: 18px;
  outline: none;
}

#search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  transition: color 0.2s ease-out;
  color: #69737d !important;
  font-weight: 200;
}
#search:-moz-placeholder {
  /* Firefox 18- */
  transition: color 0.2s ease-out;
  color: #69737d !important;
  font-weight: 200;
}

#search-wrapper {
  position: relative;
}

#search-wrapper img {
  position: absolute;
  height: 13px;
  width: 13px;
  right: 9px;
  top: 9px;
}

#version {
  border: 1px solid #F1F1F1;
  margin-top: 20px;
  border-radius: 5px;
  padding: 7px;
  outline: none;
  color: #69737d !important;
  text-decoration: none;
  max-width: 50px;
}

#content-wrapper {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-left: 250px;
  margin-top: 40px;
}

#content {
  width: 50vw;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 2.1;
}


#content b {
  display: inline-block;
  font-weight: 700;
}

#content img {
  max-width: 100%;
}

#content h1 {
  display: inline-block;
  font-weight: 600;
  font-size: 3em;
  position: relative;
  z-index: 100000;
  padding-left: 30px;
  margin-left: -30px;
  overflow: visible;
  cursor: pointer;
  margin: 0px!important;
  padding-left: 0px!important;
}

#content h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 40px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
  cursor: pointer;
}

#content strong {
  font-weight: 500;
}

#content li p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#content h4 {
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 20px;
}

#content h5 {
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 10px;
}

.search-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #F1F1F1;
}

#content p {
  line-height: 2.1;
  margin-bottom: 20px;
}

#content a {
  text-decoration: none;
  font-weight: 600;
  color: #029a78!important;
}

#content a:hover {
  text-decoration: underline;
}

#content table {
  border-collapse: collapse;
  font-size: 13px;
}

#content table, th, td {
  border: 1px solid #F1F1F1;
  padding: 10px;
  font-size: 13px;
}

#content a {
  color: #029a78;
}

#header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 68px;
  height: 60px;
  z-index: 100000;
  transition: background-color 0.1s ease-in;
  transition: top 0.1s ease;
  background: #FFF;
}

.scroll-up {
  top: 0px!important;
}

.scroll-down {
  top: -200px!important;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-break {
  width: 1px;
  height: 32px;
  background: #a6b3bc;
  margin-left: 15px;
}

#nav a img {
  height: 24px;
  width: 24px;
}

#nav a {
  margin-left: 30px;
  color: #69737d;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.social-first {
  margin-left: 15px!important;
}

.nav-hover:hover {
  color: #000!important;
}

.nav-docs {
  font-weight: 600;
  margin-right: 20px;
  position: relative;
}

.nav-docs-bottom {
  position: absolute;
  display: inline-block;
  z-index: 100000;
  height: 2px;
  min-width: 45px;
  top: 30px;
  background: #000;
  left: 0px;
}

#nav a.nav-open {
  color: #26282a!important;
}

#nav:hover a.nav-open {
  color: #26282a!important;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  color: #26282A;
  font-weight: 600;
  text-decoration: none !important;
  margin-bottom: 30px;
  max-width: 53px;
}

.logo span {
  margin-left: 8px;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.4;
  color: #04c399;
}

.logo-closed {
  display: none!important;
  opacity: 0;
  visibility: hidden;
}

.logo img {
  max-width: 53px;
  height: auto;
  margin-right: 10px;
}

.header-logo {
  margin-top: 10px;
  display: none!important;
  max-width: 40px;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#edit-wrapper {
  margin-top: 40px;
}

#edit-wrapper a {
  color: #69737d!important;
}

#edit {
  font-weight: 200;
  font-size: 15px;
  color: #69737d!important;
  text-decoration: none !important;
  min-width: 100px;
}

#edit:hover {
  text-decoration: underline !important;
}

#edit img {
  margin-left: 6px;
  width: 8px;
  height: 8px;
}

.show-back {
  display: inline-inline;
}

.hide-back {
  display: none!important;
}

.next-back {
  text-align: right!important;
}

.next-back div img {
  margin-right: 20px!important;
}

#next {
  text-align: left;
  font-weight: 200;
  font-size: 15px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

#next div {
  color: #26282a!important;
  font-weight: 200!important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#next div img {
  height: 17px;
  margin-left: 20px;
  width: auto;
}

#next:hover {
  text-decoration: none !important;
}

#next span {
  font-weight: 200!important;
  font-size: 13px;
  color: #69737d;
}

.next-first {
  display: flex !important;
}

.next-second {
  display: none !important;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #edit {
    display: none;
  }

  #header {
    padding-right: 8%;
    height: 80px;
  }

  #next {
    display: inline-block;
    position: static!important;
    margin-top: 40px;
    top: 40px;
  }

  #panel-wrapper {
    margin-left: 150px;
  }

  #content-wrapper {
    margin-left: 350px;
  }
}

@media only screen and (max-width: 1024px) {

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #next span {
    display: none;
  }

  .next-first {
    display: none !important;
  }

  .next-second {
    display: flex !important;
  }

  #header {
    padding-top: 30;
    padding-left: 5%;
    padding-right: 5%;
  }

  #panel-wrapper a {
    font-size: 19px;
  }

  #search-wrapper {
    width: 100%;
  }

  #version {
    font-size: 19px;
    min-width: 80px;
  }

  #search {
    width: 100%;
    border-style: solid;
    font-size: 19px;
    margin-bottom: 20px;
    border-style: solid;
  }

  #search-wrapper img {
    width: 19px;
    height: 19px;
  }

  #panel-wrapper h2 a {
    cursor: default;
    pointer-events: none;
  }

  .group-header a {
    color: #69737d!important;
  }

  #panel-wrapper .link-not-open {
    color: #69737d!important;
  }

  .header-logo {
    display: flex!important;
    margin-bottom: 0px;
  }

  #panel-wrapper {
    display: none;
    right: 0px;
    margin-top: 20px;
    min-width: 85vw;
    border-right: none;
    margin-left: 0px;
    padding-right: 10%;
    overflow-x: hidden;
  }

  .logo-panel {
    margin-top: 10px;
  }

  #panel {
    min-width: 100%;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 6%;
    margin-left: 0px;
    overflow-x: hidden;
  }

  .panel-open {
    display: block!important;
  }

  .panel-closed {
    display: none!important;
  }

  #content {
    width: 90vw;
  }

  #content img {
    max-width: 80vw;
  }

  #content-wrapper {
    margin-left: 0px;
  }

  #toggle {
    display: block !important;
  }

  .nav-break {
    display: none;
  }

  .scroll-down {
    top: 0px!important;
  }

  #nav a {
    display: none !important;
  }
}
