body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #26282A;
  padding-top: 85px;
}

.group {
  margin-bottom: 7px;
}

.group h2 {
  font-size: 15px;
  font-weight: 500;
  color: #69737D;
  margin-bottom: 20px;
  cursor: pointer;
}

pre {
  display: inline-block;
  border-radius: 6px;
  margin: 0px!important;
  width: 100%!important;
}

code {
  border-radius: 6px;
  font-size: 13px!important;
  padding: 20px!important;
  background: #F1F1F1!important;
}

.group-children {
  display: none;
  flex-direction: column;
  margin-left: 17px;
  margin-bottom: 10px;
}

.group-children a {
  color: #69737D;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 300;
  cursor: pointer;
}

.group-children .group-children {
  margin-bottom: 0px;
}

.group-children .group {
  margin-bottom: 0px;
}

.group-children .group-header {
  margin-top: 0px;
  margin-bottom: 20px;
}

.group-open {
  display: flex;
}

.link-open {
  color: #26282A !important;
  font-weight: 600 !important;
}

#container {
}

#docs {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#panel-wrapper {
  position: fixed;
  left: 0px;
  top: 60px;
  bottom: 0px;
  min-width: 270px;
  overflow: hidden;
  overflow: scroll;
  border-right: 1px solid #F1F1F1;
}

#panel {
  margin-left: 20px;
  min-width: 270px;
  margin-top: 40px;
  z-index: 1000;
}

#panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#panel-header a {
  color: #45DBB7;
  font-weight: 300;
  margin-right: 20px;
  text-decoration: none;
}

#search {
  border: none;
  margin-bottom: 20px;
  padding-left: 0px;
  outline: none;
}

#content-wrapper {
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin-left: 300px;
  margin-top: -13px;
}

#content {
  width: 65vw;
  line-height: 1.7;
}

#content b {
  display: inline-block;
  font-weight: 700;
}

#content h1 {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  z-index: 100000;
  padding-left: 30px;
  margin-left: -30px;
  overflow: visible;
  cursor: pointer;
}

#content h2 {
  font-weight: 600;
  margin-top: 40px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
  cursor: pointer;
}

.search-item {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #F1F1F1;
}

#content p {
  line-height: 1.7;
}

#content a {
  text-decoration: none;
  font-weight: 400;
}

#content a:hover {
  text-decoration: underline;
}

#content table {
  border-collapse: collapse;
}

#content table, th, td {
  border: 1px solid #F1F1F1;
  padding: 20px;
}

#content a {
  color: #45DBB7;
}

#header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  height: 60px;
  z-index: 100000;
  transition: background-color 0.1s ease-in;
  background: #FFF;
  border-bottom: 1px solid #F1F1F1;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav a {
  margin-left: 40px;
  color: #D4DEE5;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
}

#search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D4DEE5 !important;
}
#search:-moz-placeholder {
  /* Firefox 18- */
  color: #D4DEE5 !important;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  color: #26282A;
  font-weight: 600;
  text-decoration: none !important;
}

#logo img {
  max-width: 25px;
  height: auto;
  margin-right: 10px;
}

#edit {
  position: absolute;
  top: 100px;
  right: 100px;
  font-weight: 200;
  font-size: 15px;
  color: #D4DEE5 !important;
  text-decoration: none !important;
}

#edit:hover {
  text-decoration: underline !important;
}

#next {
  text-align: right;
  display: inline-block;
  font-weight: 200;
  font-size: 15px;
  color: #48BC86 !important;
  text-decoration: none !important;
  border-top: 1px solid #F1F1F1;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#next:hover {
  text-decoration: underline !important;
}

#nav img {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #edit {
    display: none;
  }

  #next {
    display: inline-block;
    position: static!important;
    margin-top: 40px;
    top: 40px;
  }

  #panel-wrapper {
  }

  #content-wrapper {
    margin-left: 300px;
  }
}

@media only screen and (max-width: 812px) {
  #header {
    padding-left: 20px;
    padding-right: 20px;
  }

  #panel-wrapper {
    display: none;
    right: 0px;
    margin-top: 20px;
    min-width: 85vw;
    border-right: none;
    margin-left: 0px;
    padding-right: 40px;
  }

  #panel {
    min-width: 100%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    margin-left: 0px;
  }

  .panel-open {
    display: block!important;
  }

  .panel-closed {
    display: none!important;
  }

  #content {
    width: 90vw;
  }

  #content-wrapper {
    margin-left: 0px;
  }

  #nav img {
    display: block !important;
  }

  #nav a {
    display: none !important;
  }
}
